{% extends "base.html" %} {% block title %} {{ title }} {{ version  }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}

<header id="top">
  <section id="top__logo">
    <img src="https://i.pravatar.cc/300" alt="Sunday Life Services logo" width="300px" height="350px">
  </section>
  <section id="top__subject">
    <div id="top__subject__first_word">
      <h1>HOME</h1>
    </div>
    <div id="top__subject__last_word">
      <h2>BIRTHS</h2>
    </div>
  </section>
</header>

<div id="main">
  <section id="main__paths">
    <button
      hx-get="/about"
      hx-target="#template_pages"
      hx-swap="innerHTML"
      hx-push-url="true"
      hx-trigger="click">
      ABOUT
    </button>
    <button
      hx-get="/schedule"
      hx-target="#template_pages"
      hx-swap="innerHTML"
      hx-push-url="true"
      hx-trigger="click">
      SCHEDULE
    </button>
    <button
      hx-get="/testimonials"
      hx-target="#template_pages"
      hx-swap="innerHTML"
      hx-push-url="true"
      hx-target="click">
      TESTIMONIALS
    </button>
    <button
      hx-get="/cost"
      hx-target="#template_pages"
      hx-swap="innerHTML"
      hx-push-url="true"
      hx-trigger="click">
      COST
    </button>
  </section>
  <section id="main__info_cards">
    {% for (i,card) in content.iter().enumerate() %}
    <div class="card">
      <div class="card__text">
	.lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	{{ card }}
      </div>
      <div class="card__image">
	<img src="https://i.pravatar.cc/30{{i + 1}}" alt="card image" width="300px" height="350px">
      </div>
    </div>
    {% endfor %}
  </section>
</div>

<footer>
  <section id="footer_container">
    <button
      hx-get="/contact"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-trigger="click">
      CONTACT
    </button>
    <button
      hx-get="https://facebook.com"
      hx-push-url="true"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-trigger="click">
      FACEBOOK
    </button>
    <button
      hx-get="https://twitter.com"
      hx-push-url="true"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-trigger="click">
      TWITTER
    </button>
    <button
      hx-get="https://instagram.com"
      hx-push-url="true"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-trigger="click">
      INSTAGRAM
    </button>
    <button
      hx-get="/about"
      hx-push-url="true"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-trigger="click">
      ABOUT
    </button>
  </section>
  <aside id="footer_container__version">
    V.{{ version }}
  </aside>
</footer>

{% call super() %} {% endblock %}
