{% extends "base.html" %} {% block title %} {{ title }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}

<section id="login">
  <h1>LOGIN</h1>
  <div id="login__center">
    <form hx-post="/login" hx-target="#login__center__response" hx-swap="outerHTML">
      <label for="email">EMAIL:</label>
      <input type="text" id="login__center__email" name="email" />

      <label for="password">PASSWORD:</label>
      <input type="password" id="login__center__password" name="password">

      <button type="submit">SUBMIT</button>
    </form>
  </div>
  <div id="login__response">
    <h4>Server Response</h4>
    <div>
      {% for (i, data) in content.iter().enumerate() %}
      {{i}} -> {{ data }}
      {% endfor %}
    </div>
  </div>
</section>


{% call super() %} {% endblock %}

