{% extends "base.html" %} {% block title %} {{ title }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}
<section id="register">
  <h1>REGISTRATION</h1>
  <div id="register__center">
    <form id="user_register" hx-post="/v1/register_user" hx-target="#register__response" hx-swap="innerHTML">
      <label for="email_input">EMAIL:</label>
      <input type="text" id="register__center__username" name="email_input" autocomplete="on" placeholder="EMAIL" value="theuser@user.com"/>
      <label for="password_input">PASSWORD:</label>
      <input type="password" id="register__center__auth" name="password_input" autocomplete="on" placeholder="PASSWORD" value="thepassword"/>
      <label for="password_2_input">PASSWORD:</label>
      <input type="password" id="register__center__auth_2" name="password_2_input" autocomplete="on" placeholder="PASSWORD_AGAIN" value="thepassword_2"/>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
  <div id="register__response">
    <h4>Server Response</h4>
    <div>
      {% for (i, data) in content.iter().enumerate() %}
      {{i}} -> {{ data }}
      {% endfor %}
    </div>
  </div>
</section>

{% call super() %} {% endblock %}

